{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>BuyDate</th>
                <th>EndDate</th>
                <th>Months in use</th>
                <th>Month price</th>
                <th>Plan To Use In Months</th>
                <th>Expire after</th>
                <th>Current value</th>
                <th>Plan month value</th>
                <th>Can change</th>
                <th>Total years</th>
                <th>Extra years</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.buyDate ? item.buyDate|date('Y-m-d') : '' }}</td>
                <td>{{ item.endDate ? item.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ item.getMonthsInUseString }}</td>
                <td>{{ item.monthPrice }}</td>
                <td>{{ item.planToUseInMonths }}</td>
                <td>{{ item.expireAfter }}</td>
                <td>{{ item.currentValue }}</td>
                <td>{{ item.planMonthValue }}</td>
                <td>{{ item.canChange }}</td>
                <td>{{ item.totalYears }}</td>
                <td>{{ item.extraYears }}</td>
                <td>
                    <a href="{{ path('app_item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_item_new') }}">Create new</a>
{% endblock %}
